/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2015, 2:15:13 PM
    Author     : aaa
*/

.HBox {
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.VBox {
    -fx-background-color: cornsilk;
}

MenuButton{

}

.floating-button {
    -fx-pref-width: 50px;
    -fx-background-color: #ffffff00;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 4px;
}

#adminPanelTable .table-column {
    -fx-alignment: CENTER;
}


.search-field {
    -fx-background-color: rgba(23, 169, 168, 1);
    -fx-text-fill: rgba(255, 255, 247, 1);

    -fx-background-image: url('../images/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 18px;
    -fx-background-size: 12%;
}

.hbox-top-background {

    -fx-background-color: rgba(255, 255, 255, 1);
}

.logo-background {

    -fx-background-color: rgba(28, 185, 176, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(28, 185, 176, 1);
}

.hbox-title {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: cursive;
}

.control-background {
    -fx-background-color: rgba(23, 169, 168, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(23, 169, 168, 1);
}

.hamburger-button {
    -fx-background-image: url("../images/menu.png");
    -fx-background-color: rgba(23, 169, 168, 1);
}

.open-menu {
    -fx-background-image: url("../images/arrow.png");
    -fx-background-color: rgba(23, 169, 168, 1);
}

.logout-button {
    -fx-background-image: url("../images/logout.png");
}

.hamburger-button, .logout-button, .open-menu  {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-color: rgba(23, 169, 168, 1);
}

.hamburger-button:hover, .logout-button:hover, .open-menu:hover {
    -fx-background-color: rgba(255, 255, 247, .2);
}

.sidebar-menu {

    -fx-background-color: rgba(51, 50, 68, 1);
}

.menu-buttons {

    -fx-text-fill: rgba(93, 93, 119, 1);
    -fx-font-size: 16px;
    -fx-background-color: rgba(51, 50, 68, 1);
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-alignment: center-left;
}

.menu-buttons:hover {

    -fx-text-fill: rgba(156, 156, 168, 1);
    -fx-background-color: rgba(44, 43, 61, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: transparent transparent transparent rgba(29, 114, 107, 1);
}

.menu-buttons-selected {

    -fx-text-fill: white;
    -fx-background-color: rgba(44, 43, 61, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: transparent transparent transparent rgba(29, 114, 107, 1);
}

.pane-user {

    -fx-border-color: rgba(72, 78, 72, .5);
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
}

.pane-user-text {

    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}

.pane-user-pic {

    -fx-background-radius: 5em;
}

.vbox-panel {

    -fx-background-color: rgba(238, 238, 238, 1);
}

.hbox-header {
    -fx-background-color: rgba(250, 250, 250, 1);
}

.table {
    -fx-font-size: 17;
    -fx-font-family: "Arkhip_font";
}