
.top-bar, .header, .bottom-bar {
    -fx-background-color: #16A086;
}

.header-label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 50;
}

.close-button {
    -fx-background-image: url("../images/close.png");
    -fx-background-color: #16A086;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
    -fx-background-position: center center;
}

.del-button {
    -fx-background-image: url("../images/remove.png");
    -fx-background-color: #16A086;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
    -fx-background-position: center center;
}

.add-button {
    -fx-background-image: url("../images/add.png");
    -fx-background-color: #16A086;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
    -fx-background-position: center center;
}

.close-button:hover {
    -fx-background-color: rgba(255, 255, 247, .3);
}

.vbox-body {
    -fx-background-color: #1BBC9B;
}

.menu-buttons-selected {

    -fx-text-fill: rgba(156, 156, 168, 1);
    -fx-background-color: rgba(44, 43, 61, 1);
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: transparent transparent transparent rgba(29, 114, 107, 1);
}

.combo-box {
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-font-family: Consolas;
    -fx-font-size: 18;
}

.list-cell{
    -fx-text-fill: #ffffff;
    -fx-background-color: #1BBC9B;
}

.list-cell:hover{
    -fx-text-fill: black;
    -fx-background-color: rgba(156, 156, 168, 1);
}

.list-cell:selected {
    -fx-text-fill: #ffffff;
    -fx-background-color: #1BBC9B;
}

.text-field{
    -fx-font-family: Consolas;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18;
    -fx-prompt-text-fill: #ffffff;
}