
.vBox-background {
    -fx-background-color: #17A9A8;
}

.close-button {
    -fx-background-image: url("../images/close.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
    -fx-background-position: center center;
}

.close-button:hover {
    -fx-background-color: rgba(255, 255, 247, .3);
}

.text-field {
    -fx-font-size: 28;
}

.buttons {

    -fx-font-size: 20;
}